<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Buscar Usuário do GitHub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Buscar Usuário do GitHub</h1>

    <form method="post">
      <label for="username">Nome de Usuário do GitHub:</label><br />
      <input type="text" id="username" name="username" /><br />
      <input type="submit" value="Buscar" />
    </form>

    {{if .User}}
    <div class="profile">
      <img src="{{.User.AvatarURL}}" alt="Avatar" width="100" height="100" />
      <div class="info">
        <h2>{{.User.Login}}</h2>
        <p>Seguidores: {{.User.Followers}}</p>
        <p>Repositórios públicos: {{.User.PublicRepos}}</p>
      </div>
    </div>
    {{end}}
    </div>
  </body>
</html>
